/* .deleteSpoiled{
 display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #fac731;
  color: #f8f8f8;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
} */